.dropdown-input-wrapper {
  display: flex;
  width: 400px;

}

.dropdown-search-icon {
  border: solid 1px #e6e6e6;
  height: 35px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
  cursor: pointer;


}

.dropdown-search-icon img {
  height: 20px;
}

.dropdown-input {
  width: 90%;
  min-height: 25px;
  padding: 5px;
  padding-left: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px 0 0 10px;
  border: solid 1px #e6e6e6;
  font-size: 14px;
  outline: none;
  display: flex;
  cursor: text;
  align-items: center;

}

/* dropdown list item */
.dropdown-list-wrapper {
  position: absolute;
  top: 20%;
  width: 400px;
  display: inline-block;
  list-style: none;
  padding: 5px;
  margin: 0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 1px rgba(113, 110, 110, 0.2);

 
}

.dropdown-list-item {
  padding: 10px 10px 10px 37px;
  cursor: pointer;
  display: flex;
  width: 88%;
}

.dropdown-list-item:hover {
  background-color: #f2f2f2;
  border-radius: 7px;
}

.dropdown-list-item.selected {
  background-color: #e6e6e6;
  font-weight: bold;
  border-radius: 7px;
}

.dropdown-search-wrapper{
  padding: 5px;
}

  .dropdown-search-wrapper input {
    width: 80%;
    height: 28px;
    border: solid 1px #e6e6e6;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;

  }