.chip{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 2px;
    cursor: pointer;  
}

.chip__item{
    background-color: #d7f3fa;
    padding: 2px 10px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    font-size: 13px;
    border-radius: 10px;
    font-weight: bold;
}
.chip__close{
    display: flex;
    align-items: center;
}
    .chip__close-size{
        width: 12px;
        height: 10px;
    
    }